@import url('Fonts.css');


/*body {
    background-color: #6f6f6f;
}*/

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -150px;
    overflow: auto;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 150px;
}

.GothamBook14 {
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 14px;
}

/*.GeorgiaReg22 {
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 22px;
}
*/

.GothamBook18 {
    font-family: 'Gotham Book';
    font-weight: normal;
    font-size: 18px;
}

.GothamBlack18 {
    font-family: 'Gotham Black';
    font-weight: normal;
    font-size: 18px;
}

.gothamBlack22 {
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 22px;
}

/*.GothamLight14 {
    font-family: 'Gotham';
    font-weight: lighter;
    font-size: 14px;
}

.GothamLight18 {
    font-family: 'Gotham';
    font-weight: lighter;
    font-size: 18px;
}





.GothamBook11 {
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 11px;
}*/




.blue {
    color: #00AEEF;
}

.yellow {
    color: #FFF200;
}

.black {
    color: #231F20
}

.white {
    color: #FFF;
}
/*.mainHeader {
    height: 20rem;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(120deg, #357570, #3c8680, #449790, #4ca8a1) !important;
    padding-top: 2rem;
    text-shadow: 1px 1px #000000;
}

.mainText {
    padding-top: 2rem;
    color: white;
    text-shadow: 1px 1px #000000;

}
.mainText1 {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 1px 1px #000000;
}

.mainText2 {
    line-height: 1rem;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 12.5rem;
    text-shadow: 1px 1px #000000;
}*/
/*===========================NAVBAR==============================*/
.nav.navbar-nav.links {
    width: 99%;
}

.navigation {
    list-style-type: none;
    display: inline;
    text-align: center;
}
.navbar-toggler {
    color: #00AEEF;
}

.navbar li { color: #000 } 

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-radius: 0 !important;
    margin-bottom: 0px;
}

.nav-link {
    color: #00AEEF;
    /*font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;*/
}
.navbar-brand {
    color: #00AEEF;
    float: right;
}

a.navbar-brand {
    text-align: right;
}

.navbar-brand>img {
    display: inline-block;
    max-height: 30px;
}

/*.pull-xs-right {
    float: right!important;
    position: absolute;
}*/

.viewMoreWork {
    text-align: center;
    padding-top: 4%;
}




/*PAGES*/
/*h1 {
    font-family: 'Georgia';
    font-size: 2.5rem;
    font-weight: normal;
}*/

.symbol {
    font-family: 'Georgia';
    font-size: 1rem;
    font-weight: normal;
    vertical-align: bottom !important;
}

.mainLayout {
    padding-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
}
.headParagraph {
    font-family: 'Georgia';
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 1%;
    line-height: 2.5rem;
}

.subParagraph {
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    padding-right: 40px;
    margin-bottom: 3rem;

}

.blueBackground {
    background-color: #00AEEF;
    padding-bottom: 30px;
    padding-top: 30px;
} 

.blueHeader {
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 40px;
    padding-left: 20px;
    
}

.values {
    font-family: 'Gotham Bold';
    font-weight: bold;
    font-size: 48px;
    list-style: none;
    padding-left: 20px;
    line-height: 48px;
}

.leadershipText {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.nationalFirmText {
    padding-top: 40px;
    padding-bottom: 30px;
}

.georgia22 {
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 22px;
}

.georgia40 {
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
}

.columnLineHeight {
 line-height: 16px;

}

.zeroBottomMargin {
    margin-bottom: 0;
}

.mainPics {
    max-height: 379px;
}

.noRightGutter {
    padding-right: 0px;
}

.topPadding {
    padding-top: 15px;
}

.testimonialLink {
    background-color: #FFF200;
    padding: 10px 40px 10px 40px;
    font-family: 'Gotham Book';
    font-weight: normal;
    font-size: 18px;
}

.testimonialMargin {
    margin-bottom: 2%;
}



.noGutter {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/*Footer*/

.site-footer>div {
    margin-left: 1% !important;
}

hr {
    margin-top: 5rem !important;
    margin-bottom: 3rem !important;
    margin-left: 3% !important;
    margin-right: 3% !important;

}

.footerLink1 {
    padding-right: 2%

}
.social-icon {
    max-height: 35px;
}

.footerLink2 {
    color: #000;
    line-height: 40px;
}

.footerTextBlue {
    color: #00AEEF;
    /*font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;*/
    margin-bottom: 0px;
    /*padding-left: 31px;*/
}

.footerText {
    color: #000;
    /*font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;*/
    margin-bottom: 0px;
    /*padding-left: 31px;*/
}

.footerCopyright {
    color: #000;
    /*font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;*/
    /*margin-left: 31px;*/
}

/*.margin {
    margin-left: 31px !important;
}*/
.blogMargin {
    /*margin-left: -31px;*/
    margin-right: 5%;
}
.paddingBottom {
    padding-bottom: 4%;
}



/*====================Media Queries==============================*/


/*Medium devices (tablets, less than 62em)*/
@media (max-width: 61.9em) { 
.social-icon {
    max-height: 30px;
}

.paddingRightBlog {
    padding-right: 30px;
}

.symbol {
    font-family: 'Georgia';
    font-size: .5rem;
    font-weight: normal;
    vertical-align: bottom;
}

.headParagraph {
    font-family: 'Georgia';
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 1%;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

.testimonialLink {
    font-size: 9px;
    padding: 5px 20px 5px 20px;
    font-size: 9px;
}

.blueHeader {
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 20px;
    padding-left: 20px;
}

.values {
    font-family: 'Gotham Bold';
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;
    line-height: 24px;
}

.leadershipText {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

}

/*Small devices (landscape phones, less than 48em)*/
@media only screen and (max-width: 47.9em) { 

ul.nav {
    display: flex;
    flex-direction: column;
 }

.navbar-brand>img {
    display: inline-block;
    max-height: 20px;
}

.social-icon {
    height: 30px;
    width: 30px;
}

.footerLink1 {
    font-size: .75rem;

}

.footerLink2 {
    font-size: .75rem;
}

.footerTextBlue {
    font-size: 1rem;
}

.footerText {
    font-size: 1rem;
}

.footerCopyright {
    font-size: .75rem;
}

/*.smScreenBlogContact {
    
    padding-top: 31px;
    padding-bottom: 15px;
    /*padding-left: 46px;
}*/



.brandRight {
    float: right!important;
    position: relative;
}

.headParagraph {
    font-family: 'Georgia';
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 1%;
    line-height: 1rem;
}

.subParagraph {
    font-size: 12px;
    padding-right: 0px;
    margin-bottom: 3rem;
}

.blueHeader {
    font-size: 12px;
    
}

.values {
    font-size: 14px;
    line-height: 14px;
}

.georgia22 {
    font-size: 12px;
}


