/*body {
    background-color: #6f6f6f;
}*/

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -250px;
    overflow: auto;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 250px;
}

.mainHeader {
    height: 20rem;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(120deg, #357570, #3c8680, #449790, #4ca8a1) !important;
    padding-top: 2rem;
    text-shadow: 1px 1px #000000;
}

.mainText {
    padding-top: 2rem;
    color: white;
    text-shadow: 1px 1px #000000;

}
.mainText1 {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 1px 1px #000000;
}

.mainText2 {
    line-height: 1rem;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 12.5rem;
    text-shadow: 1px 1px #000000;
}
/*===========================NAVBAR==============================*/
.nav.navbar-nav.links {
    width: 99%;
}

.navigation {
    list-style-type: none;
    display: inline;
    text-align: center;
}
.navbar-toggler {
    color: #00AEEF;
}

.navbar li { color: #000 } 

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-radius: 0 !important;
    margin-bottom: 0px;
}

.nav-link {
    color: #00AEEF;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-brand {
    color: #00AEEF;
    float: right;
}
}

/*Footer*/

.footerLink1 {
    margin-right: 2%;
}

.footerLink2 {
    margin-right: 2%;
}

.footerText {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 0;
}

.footerTextBlue {
    color: #00AEEF;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 0;
}

.footerCopyright {
    color: #000;
    font-size: .75rem;
    font-family: 'Source Sans Pro', sans-serif;
}

/*============================home body================================
.thumbnail1 {
    display: inline-block;
    max-height: 250px;
    max-width: 250px;
    margin: 0 auto;

}

.thumbnail2 {
    display: inline-block;
    max-height: 250px;
    max-width: 500px;
    margin: 0 auto;
}

.longQuote {
    border-radius: 2px;
    border-bottom: 1px solid white;
}

.mainCollage{
    padding-left: 15%;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

/*============================About Page===============================*/


/*====================Media Queries==============================*/

/*Extra small devices (portrait phones, less than 34em)*/
@media (max-width: 33.9em) { ... }

/*Small devices (landscape phones, less than 48em)*/
@media (max-width: 47.9em) { 

ul.nav {
    display: flex;
    flex-direction: column;
 }

/*Medium devices (tablets, less than 62em)*/
@media (max-width: 61.9em) { ... }

/*Large devices (desktops, less than 75em)*/
@media (max-width: 74.9em) { ... }

/*Extra large devices (large desktops)*/
/*No media query since the extra-large breakpoint has no upper bound on its width*/



@media only screen and (max-width : 768px) {

    
}

@media only screen and (max-width : 480px) {
   
}