<div class="mainLayout">
        <div class="col-xs-12">
          <p class="blue headParagraph zeroBottomMargin">Northern Colorado Food Cluster</p>
          <p class="black headParagraph">We work together strategically, effectively and in alignment with our values - honoring each other, remaining open to all community voices and being inclusive of all groups - to increase the consumption, production and distribution of local food in Northern Colorado.</p>
        </div>
        <div class="">
          <div class="col-xs-12 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-lg-4 viewMoreWork">
            <a class="GothamBook14 blue hidden-md-down" href="&quot;#&quot;&quot;">VIEW MORE WORK</a>
          </div>
          <div class="col-lg-4 viewMoreWork">
            <a class="GothamBook14 blue hidden-md-down" href="&quot;#&quot;&quot;">NEXT PROJECT</a>
          </div>
          <div class="col-lg-4 viewMoreWork">
            <a class="GothamBook14 blue hidden-md-down" href="&quot;#&quot;&quot;">TO THE TOP</a>
          </div>
          
        </div>
      </div>