<div class="container-fluid aboutContainer">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Scottsdale, AZ</p>
            <p class="list-text-small strikethrough-text">Date: 06/23/2016</p>
            <p class="list-text-small strikethrough-text">Time: 6:30pm</p>
            <p class="list-text-small strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/a-ramadan-night-for-civil-rights-tickets-25941220890" class="list-text link-text">here</a></p>
            <p></p></p>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader">Anaheim, CA</p>
            <p class="list-text-small">The Islamic Center of Irvine</p>
             <p class="list-text-small">Date(s): Nightly through 7/5</p> 
            <p class="list-text-small">Time: 8:00pm</p>
             <p class="list-text-small">No RSVP required  - $7.00 donation</p>
            <p class="list-text-small">(some evenings at no cost)</p>
            <p class="list-text-small">For more info call 714-533-6271</p>

        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader">Anaheim, CA</p>
            <p class="list-text-small">Islamic Institute of Orange Cnty</p>
             <p class="list-text-small">Date(s): 6/18, 6/25, & 7/2</p> 
            <p class="list-text-small">Time: 8:00pm</p>
             <p class="list-text-small">No RSVP required</p>
            <p class="list-text-small">For more info call 714-533-6271</p>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Berkeley, CA</p>
            <p class="list-text strikethrough-text">Date: 06/10/2016</p>
            <p class="list-text strikethrough-text">Time: 7:30pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/ramadan-interfaith-iftar-dinner-art-of-living-together-tickets-25466370600?aff=erellivmlt" class="list-text link-text strikethrough-text">here</a></p>
            <p></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Mill Valley, CA</p>
            <p class="list-text strikethrough-text">Date: 06/14/2016</p>
            <p class="list-text strikethrough-text">Time: 7:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://sanfrancisco.eventful.com/events/interfaith-iftar-/E0-001-093445200-6" class="list-text link-text strikethrough-text">here</a></p>
            <p></p></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">San Francisco, CA</p>
            <p class="list-text strikethrough-text">Date: 06/08/2016</p>
            <p class="list-text strikethrough-text">Time: 7:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/annual-san-francisco-ramadan-interfaith-iftar-dinner-tickets-25368698460?aff=es2" class="list-text link-text strikethrough-text">here</a></p>
            <p></p></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Walnut Creek, CA</p>
            <p class="list-text strikethrough-text">Date: 06/15/2016</p>
            <p class="list-text strikethrough-text">Time: 7:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/ramadan-interfaith-iftar-dinner-tickets-25470865043?aff=es2" class="list-text link-text strikethrough-text">here</a></p>
            <p></p></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader">Aurora, CO</p>
            <p class="list-text">Date: 07/02/2016</p>
            <p class="list-text">Time: 7:00pm</p>
            <p class="list-text">To RSVP click <a href="http://mosaicfoundation.force.com/RSVP?pid=a01o000000GT52dAAD" class="list-text link-text">here</a></p>
            <p class="list-text"></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Denver, CO</p>
            <p class="list-text strikethrough-text">Where: Lady Fatima Center</p>
            <p class="list-text strikethrough-text">Date: 06/09/2016</p>
            <p class="list-text strikethrough-text">Time: 6:45pm</p>
            <p class="list-text strikethrough-text">Capacity: 50</p>
            <p class="list-text strikethrough-text">RSVP to this <a href="mailto:abrahamicinitiative3@gmail.com" class="list-text link-text strikethrough-text">email</a> </p>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Washington, DC</p>
            <p class="list-text strikethrough-text">Date: 06/07/2016</p>
            <p class="list-text strikethrough-text">Time: 7:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://my.umrelief.org/washington/events/ramadan-through-eyes-american-muslims-interfaith-learning-iftar/e81914" class="list-text link-text">here</a></p>
            <p class="list-text"></p>

        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Washington, DC</p>
            <p class="list-text strikethrough-text">Date: 06/14/2016</p>
            <p class="list-text strikethrough-text">Time: 8:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://t.co/V0Usk0hFze" class="list-text link-text strikethrough-text">here</a></p>
            <p></p>
            <br>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader">Washington, DC</p>
            <p class="list-text">Date: 06/29/2016</p>
            <p class="list-text">Time: 7:30pm</p>
            <p class="list-text">Capacity: 40</p>
            <p class="list-text">RSVP to this <a href="mailto:washingtondcsadr@lajnausa.net" class="list-text link-text">email</a> </p>
            <br>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Alpharetta, GA</p>
            <p class="list-text strikethrough-text">Date: 06/24/2016</p>
            <p class="list-text strikethrough-text">Time: 7:45pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/community-service-appreciation-iftar-dinner-tickets-25319908528" class="list-text link-text">here</a></p>
            <p></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Alpharetta, GA</p>
            <p class="list-text strikethrough-text">Date: 06/26/2016</p>
            <p class="list-text strikethrough-text">Time: 7:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/interfaith-iftar-dinner-tickets-25352690580" class="list-text link-text">here</a></p>
            <p></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Peoria, IL</p>
            <p class="list-text strikethrough-text">Date: 06/21/2016</p>
            <p class="list-text strikethrough-text">Time: 7:30pm</p>
            <p class="list-text strikethrough-text">Capacity: 100</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/se7en-fast-tickets-25982666856" class="list-text link-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader">Bloomington, IN</p>
            <p class="list-text">Date: 06/30/2016</p>
            <p class="list-text">Time: 8:30pm</p>
            <p class="list-text">Capacity: 50</p>
            <p class="list-text">To RSVP click <a href="http://goo.gl/forms/SC7D1SfLaaKktRzI2" class="list-text link-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Indianapolis, IN</p>
            <p class="list-text strikethrough-text">Date: 06/07/2016</p>
            <p class="list-text strikethrough-text">Time: 7:00-10:00pm</p>
            <p class="list-text strikethrough-text">Capacity: 120</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://www.indianainterchurch.org/archives/event/obat-helpers-presents-an-interfaith-iftar" class="list-text link-text strikethrough-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Indianapolis, IN</p>
            <p class="list-text strikethrough-text">Date: 06/17/2016</p>
            <p class="list-text strikethrough-text">Time: 6:00-10:00pm</p>
            <p class="list-text strikethrough-text">Capacity: 200</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://goo.gl/forms/SdYr94EU9W" class="list-text link-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Indianapolis, IN</p>
            <p class="list-text strikethrough-text">Date: 06/18/2016</p>
            <p class="list-text strikethrough-text">Time: 8:00pm</p>
            <p class="list-text strikethrough-text">Capacity: 250</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://goo.gl/forms/s738PmHwc6qqx7Fq1" class="list-text link-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Louisville, KY</p>
            <p class="list-text strikethrough-text">Date: 06/21/2016</p>
            <p class="list-text strikethrough-text">Time: 7:30-10:00pm</p>
            <p class="list-text strikethrough-text">Capacity: TBA</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://www.paths2peace.org/iftar-dinner.html" class="list-text link-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Ballwin, MO</p>
            <p class="list-text strikethrough-text">(St. Louis Area-for youth)</p>
            <p class="list-text strikethrough-text">Date: 06/09/2016</p>
            <p class="list-text strikethrough-text">Time: 7:30-10:00pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="https://www.eventbrite.com/e/interfaith-youth-iftar-tickets-25657571487" class="list-text link-text strikethrough-text">here</a></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Leonia, NJ</p>
            <p class="list-text strikethrough-text">Date: 06/18/2016</p>
            <p class="list-text strikethrough-text">Time: 7:30pm</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://leoniapres.org/event/interfaith-iftar/" class="list-text link-text">here</a></p>
            <p class="list-text"></p>
            <br>
            <br>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader">Bridgehampton, NY</p>
            <p class="list-text">Date: 06/29/2016</p>
            <p class="list-text">Time: 7:30pm</p>
            <p class="list-text">Capacity: 90</p>
            <p class="list-text">RSVP to this <a href="mailto:ken.dorph@gmail.com" class="list-text link-text">email</a> </p>
            <br>
            <br>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <p class="iftarHeader strikethrough-text">Columbus, OH</p>
            <p class="list-text strikethrough-text">Date: 06/22/2016</p>
            <p class="list-text strikethrough-text">Time: 8:00pm</p>
            <p class="list-text strikethrough-text">Capacity: 150</p>
            <p class="list-text strikethrough-text">To RSVP click <a href="http://goo.gl/forms/HPTlxWJJckyrZ7OC3" class="list-text link-text">here</a></p>
            <br>
            <br>
        </div>

    </div>
    <br>
    <br>
</div>