      <div class="mainLayout">
        <div class="col-xs-12 col-lg-6">
          <p class="blue headParagraph">Hello, I'm <input type="text"></input></p>
        </div>
        <div class="col-xs-12 col-lg-6">
          and I'm interested in
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Small button
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Choose your option</span>
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div>
        </div>








        <div class="col-lg-1"></div>
        <div class="col-xs-12 col-lg-4">
          <p class="blue headParagraph">Collaborative thinking is the <br>catalyst to business success</p>
          <p class="black subParagraph">We believe that great success is born from collaborative thinking and a spirit of partnership with our clients. When these elements work in harmony, we are better positioned to build brands that engage your customers, gain traction and increase profitability.</p>
        </div>
        <div class="col-xs-12 noGutter blueBackground">
          <p class="blueHeader white">Our values</p>
            <p class="values yellow">Authenticity - Be unique and standout</p>
            <p class="values yellow">Simplicity - Less is more</p>
            <p class="values yellow">Passion - Do what you love</p>
            <p class="values yellow">Mindfulness - Appreciate all the details</p>
            <p class="values yellow">Recognition - Celebrate success</p>
        </div>
        <div class="col-xs-12 leadershipText georgia22">
          <p class="blue">Our leadership</p>
        </div>
        
      </div>