<div class="mainLayout">

  <div class="">
    <div class="col-xs-12 col-lg-8 noRightGutter topPadding">
      <img class="img-fluid" src="../media/grayBox.png">
    </div>
    <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
      <img class="img-fluid smEmployeePic" src="../media/grayBox.png">
      <img class="img-fluid" src="../media/grayBox.png">
    </div>
    
  </div>
<div class="col-xs-12 hidden-lg-up usIconPadding">
  <img class="usIcon" src="../media/icon_us_email.png">
  <img class="usIcon" src="../media/icon_us_linkedin.png">
</div>
  <div class="col-xs-12 col-lg-5 bottomParagraphDiv">
    <p class="blue georgia40">Jim’s extensive marketing background is evident every single day at Bluebird</p>
    <p class="black GothamLight18">With 25 years of experience in marketing communications, branding and public relations, Jim Miller has extensive expertise in all aspects of strategic planning and communications. Utilizing a results-oriented approach, Jim’s focus is helping companies increase brand awareness and grow their business.</p>
    <p class="black GothamLight18">A proven business leader, Jim’s professional experience includes 17 years in the agency environment. He has broad knowledge of the marketing discipline with a demonstrated ability to lead teams to execute brand messaging and marketing campaigns that deliver desired outcomes.</p>
    <p class="black GothamLight18">Jim is passionate about finding strategic and efficient ways that deliver successful results for clients and collaborating with them so they can tell their story in a more compelling way. His approach guides companies to achieve their goals and ultimately helps them realize ways that can make their businesses more successful.</p>
    <p class="black GothamLight18">Jim is experienced in offering new perspectives that clients may not have considered, and new ways to optimize brand awareness. He specializes in brand strategy, public relations execution, storytelling through compelling messaging, marketing campaigns and social media.</p>
    <p class="black GothamLight18">Prior to Bluebird Branding, Jim served as vice president at Schenkein Public Relations, one of the largest firms in the Rocky Mountain region. In addition to managing some of the agency’s largest clients (First Data Corp, Waterpik Technologies, EAS, Johns Manville), he was on the executive leadership team.</p>
  </div>  
  <div class="col-lg-3"></div>
  <div class="col-md-4 hidden-md-down usIconPadding">
  <img class="usIcon" src="../media/icon_us_email.png">
  <img class="usIcon" src="../media/icon_us_linkedin.png">
</div>
        
</div>