  <!--========================TESTING====================================-->
      <div class="mainLayout">
        <div class="col-xs-12">
          <p class="blue headParagraph zeroBottomMargin">Driven by Creativity. Powered by Execution<span class="symbol">&#8482;</span></p>
          <p class="black headParagraph">Every day we collaborate with business leaders <br>to build brands that are powerful, memorable <br>and create traction.</p>
        </div>
        <div class="">
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <a class="col-xs-12 GothamBook14 blue viewMoreWork" href="&quot;#&quot;&quot;">VIEW MORE WORK</a>
        </div>
      </div>
 