      <div class="mainLayout">
        <div class="col-xs-12 col-lg-4">
          <p class="blue headParagraph">True collaborators</p>
          <p class="black subParagraph">Our experience has convinced us that to generate the most powerful ideas, we must engage with the client during the entire process. We’ll never claim to know your business better than you, but rather bring a fresh perspective. Our job is not only to facilitate the process of generating ideas, but to identify and execute the right ideas with the right strategy, effective communication and impactful creative.</p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xs-12 col-lg-4">
          <p class="blue headParagraph">Collaborative thinking is the <br>catalyst to business success</p>
          <p class="black subParagraph">We believe that great success is born from collaborative thinking and a spirit of partnership with our clients. When these elements work in harmony, we are better positioned to build brands that engage your customers, gain traction and increase profitability.</p>
        </div>
        <div class="col-xs-12 noGutter blueBackground">
          <p class="blueHeader white">Our values</p>
          <ul class="values yellow">
            <li>Authenticity - Be unique and standout</li>
            <li>Simplicity - Less is more</li>
            <li>Passion - Do what you love</li>
            <li>Mindfulness - Appreciate all the details</li>
            <li>Recognition - Celebrate success</li>
          </ul>
        </div>
        <div class="col-xs-12 leadershipText">
          <p class="blue">Our leadership</p>
        </div>
        
      </div>