      <div class="mainLayout">
        <div class="col-xs-12 col-lg-4">
          <p class="blue headParagraph">What we do</p>
          <p class="black subParagraph">We are brand and marketing strategists and artists that use business sense, creativity and collaboration to activate your brand story, give it traction, and make your brand come to life, ultimately making it more profitable. We are a homegrown branding agency located in Denver, specializing in brand strategy, brand communication, brand design and brand to web. Creating a positive and engaging brand experience for your customers is the fundamental goal.</p>
        </div>
        
        <div class="col-xs-12 noGutter blueBackground">
          <p class="blueHeader white">How we do it</p>
          <ul class="values yellow">
            <li>Authenticity - Be unique and standout</li>
            <li>Simplicity - Less is more</li>
            <li>Passion - Do what you love</li>
            <li>Mindfulness - Appreciate all the details</li>
            <li>Recognition - Celebrate success</li>
          </ul>
        </div>
        <div class="col-xs-12 leadershipText">
          <p class="blue">Our leadership</p>
        </div>
        
      </div>