      <div class="mainLayout">
        <div class="col-xs-12 col-lg-4">
          <p class="blue headParagraph">True collaborators</p>
          <p class="black subParagraph">Our experience has convinced us that to generate the most powerful ideas, we must engage with the client during the entire process. We’ll never claim to know your business better than you, but rather bring a fresh perspective. Our job is not only to facilitate the process of generating ideas, but to identify and execute the right ideas with the right strategy, effective communication and impactful creative.</p>
        </div>
      
        <div class="col-xs-12 noGutter blueBackground">
          <p class="blueHeader white">Our values</p>
          <div class="col-md-6">
            <p class="howWeDoIt white GothamBook18"><span class="yellow GothamBlack18">Brand Strategy:</span>Brands become a shortcut for consumers when making buying decisions. They embody the perceptions that buyers have about a product or service. Bluebird is a strategic brand consulting and visual communications firm that helps companies increase demand by building brand equity.</p>
            <p class="howWeDoIt white GothamBook18"><span class="yellow GothamBlack18">Corporate Identity (Logo) Development and Design:</span><br>Your corporate identity, or logo, should serve as a visual metaphor that expresses your brand in a creative, compelling, and timeless manner. The process must aim to make the logo immediately recognizable, inspiring trust, credibility, admiration, loyalty and an implied superiority.</p>
            <p class="howWeDoIt white GothamBook18"><span class="yellow GothamBlack18">Visual Communications Systems:</span><br>Your Visual Communications system – the overall look and feel of your brand – represents one of the most under-utilized opportunities to build brand equity. The VisCom system includes the places where your brand will appear (i.e. business cards, marketing materials, website, etc.) enabling you to use design elements, imagery, color, shape and typography to consistently articulate a positive brand image.</p>
            <p class="howWeDoIt white GothamBook18"><span class="yellow GothamBlack18">Website Development:</span>Bluebird differs from Web development firms in that we place a stronger emphasis on strategy and are focused on helping users locate the most important information in the least amount of time. Our Web development philosophy is based upon art, science, and efficiency designed to communicate the brand in a most compelling way.</p>
          </div>
          <div class="col-md-6">
            
          </div>
          
        </div>
        <div class="col-xs-12 leadershipText">
          <p class="blue">Our leadership</p>
        </div>
        
      </div>