<div class="mainLayout">
        <div class="col-xs-12 col-lg-8">
          <p class="blue georgia40">You are only as good as the service <br>you provide</p>
        </div>  
        <div class="col-xs-12 col-lg-6">
        <img class="usIcon" src="../media/ticks.png">
          <p class="black GothamLight18">We have had a great experience with Bluebird Branding. Since the beginning they have provided everything they have proposed. They have actually gone beyond their scope of work and helped us out on many occasions. They have kept us up on different opportunities to improve the usability of our website. We especially appreciate their on-call support and immediate response time when supporting our hosting services. We would highly recommend this company. We have tried other agencies but this is the first time we actually feel like we have a partner that cares.</p>
          <p class="black GothamLight14">Kimberly Miller</p>
          <p class="black GothamLight14">Director of Marketing - Sherman &amp; Howard</p>
          <img class="usIcon" src="../media/sherman.png">
        </div>

        <div class="col-xs-12 col-lg-6">
          <img class="usIcon" src="../media/ticks.png">
          <p class="black GothamLight18">Choosing your marketing team is like choosing your family. In order for your vision to come alive you need a team that is capable of turning your ideas into effective art. The process of working with Bluebird Branding is consistent, creative and reciprocal. They are patient and focus on getting it right, not just getting it done. The creative team has helped turn our nascent idea into a meaningful brand that we are proud to present to our community and clients. Philosophically, Bluebird is passionate about the work they do, the people they work with, and the projects they embrace. The Bluebird Branding team is not just an agency to us, they are our team."</p>
          <p class="black GothamLight14">Ashley Colpaart</p>
          <p class="black GothamLight14">Founder &amp; CEO - The Food Corridor</p>
          <img class="usIcon" src="../media/Food.png">
        </div>  

        <div class="col-xs-12 col-lg-6">
          <img class="usIcon" src="../media/ticks.png">
          <p class="black GothamLight18">Bluebird Branding did a fantastic job designing and developing a responsive website to meet our growing business needs. Their team is highly experienced and provided invaluable insight throughout the process.  Highly Recommend for anyone looking to increase sales and bring their brand to the next level!"</p>
          <p class="black GothamLight14">Elsie Hamilton</p>
          <p class="black GothamLight14">President - Lilly Brush Co., LLC</p>
          <img class="usIcon" src="../media/Brush.png">
        </div>  

        <div class="col-xs-12 col-lg-6">
          <img class="usIcon" src="../media/ticks.png">
          <p class="black GothamLight18">We have had a great experience with Bluebird Branding. Since the beginning they have provided everything they have proposed. They have actually gone beyond their scope of work and helped us out on many occasions. They have kept us up on different opportunities to improve the usability of our website. We especially appreciate their on-call support and immediate response time when supporting our hosting services. We would highly recommend this company. We have tried other agencies but this is the first time we actually feel like we have a partner that cares.</p>
          <p class="black GothamLight14">Jacob Hummel</p>
          <p class="black GothamLight14">President - Full Tilt Performance</p>
          <img class="usIcon" src="../media/FullTilt.png">
        </div>  
        



        <!-- <div class="col-lg-1"></div>
        <div class="col-xs-12 col-lg-4">
          <p class="blue headParagraph">Collaborative thinking is the <br>catalyst to business success</p>
          <p class="black subParagraph">We believe that great success is born from collaborative thinking and a spirit of partnership with our clients. When these elements work in harmony, we are better positioned to build brands that engage your customers, gain traction and increase profitability.</p>
        </div>
        <div class="col-xs-12 noGutter blueBackground">
          <p class="blueHeader white">Our values</p>
            <p class="values yellow">Authenticity - Be unique and standout</p>
            <p class="values yellow">Simplicity - Less is more</p>
            <p class="values yellow">Passion - Do what you love</p>
            <p class="values yellow">Mindfulness - Appreciate all the details</p>
            <p class="values yellow">Recognition - Celebrate success</p>
        </div>
        <div class="col-xs-12 leadershipText georgia22">
          <p class="blue">Our leadership</p>
        </div> -->
        
      </div>