<div class="mainLayout">
        <div class="col-xs-12">
          <p class="blue headParagraph">Great is a result of loving what you do</p>
        </div>
        <div class="col-xs-12 testimonialMargin">
          <a class="blue testimonialLink" href="#">VIEW OUR TESTIMONIALS</a>
        </div>
        <div class="">
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>

          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
          <div class="col-xs-12 col-lg-4 noRightGutter topPadding hidden-md-down">
            <img class="img-fluid" src="../media/grayBox.png">
          </div>
        </div>
      </div>